/* General Style */
body {
    background-image: linear-gradient(to bottom right, rgba(79, 51, 176, 1.0), rgba(210, 53, 165));
}

body {
    font-family: sans-serif;
}
.calculator {
    margin: 40px auto;
    padding: 0;
    border: 1px solid #ccc;
    border: none; 
    border-radius: 40px; /* Increase border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 340px; /* Increase width */
    background-color: #f1ecec;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    border: none; /* Remove border */
    transition: background-color 0.5s, color 0.5s;
}


.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    width: 100%;
    height: 200px;
}

.expression {
    font-size: 24px;
    color: #666;
    opacity: 0.7;
    margin-top: 30px;
    margin-right: 20px;
}

.result {
    font-size: 36px;
    color: #333;
    margin-top: auto;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* Space between keys */
    padding: 20px;
    border-radius: 40px;
    width: calc(100% - 40px); /* Subtract padding from left and right */
    height: 400px;
    background-color: #d6e4ff;
    background-image: linear-gradient(to bottom right, #d6e4ff, #599ef8);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Add inner shadow */
    margin: 0 auto; /* Center keys horizontally */
    transition: background-color 0.5s;
}

.key {
    width: 60px;
    height: 60px;
    padding: 20px;
    border: none;
    border-radius: 50%;
    background-color: #cddfeb;
    cursor: pointer;
    font-size: 24px;
    
    transition: background-color 0.5s, transform 0.2s;
}
.calculator .bilmemne .key {
    background-color: transparent; /* Make key background color transparent */
    border: none; /* Remove border */
}
.key:hover {
    background-color: #ccc;
    transform: scale(1.1);
}

.key:active {
    background-color: #aaa;
    transform: scale(0.9); /* Shrink when clicked */
}
/* Hover effect */
.key:hover {
    transform: scale(1.1); /* Increase size on hover */
}

.calculator .key {
    transition: transform 0.2s; /* Add transition effect */
}


i {
    color: #7e7777;
}
.theme-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 23px;
    margin-right: 60px;
}

.theme-toggler:hover .fa-sun,
.theme-toggler:hover .fa-moon {
    color: orange; /* Change icon color on hover */
}


/* Light theme */
.calculator.light {
    background-color: #fff;
}

.calculator.light #display {
    color: #0a1e23;
}

.calculator.light button {
    background-color: #c3eaff;
    color: #000000;
}

.calculator.light button.btn-equal {
    background-color: #ddf3ef; /* Equal sign color */
    color: #000;
}


/* Dark theme */
.calculator.dark {
    background-color: hsl(197, 43%, 8%);
}

.calculator.dark #display,
.calculator.dark .key {
    background-color: #1b2f38;
    color: #f8fafb; /* White for operations and inputs */
}

.calculator.dark button#clear {
    background-color: #2d191e;
    color: #bd3740;
}


.calculator.dark button.btn-operator {
    background-color: #2e1f39;
    color: #aa00a4;
}

.calculator.dark button.btn-equal {
    background-color: #223323;
    color: #ffffff;
}

.calculator.dark .buttons {
    background-image: linear-gradient(to left, #2b13c9, #201173); /* Gradient background color in dark mode */
}

.calculator.dark .display-screen,
.calculator.dark .output-line {
    color: #ffffff; /* Result text color */
    font-size: 30px;
}

.calculator.dark .expression,
.calculator.dark .result {
    color: #ffffff; /* Expression and result text colors */
}
.calculator.dark .keys {
    background-image: linear-gradient(to bottom left, #2b13c9, #201173); /* Gradient background color in dark mode */
}
.calculator.dark .bilmemne .key {
    background-color: transparent; /* Make key background color transparent */
    border: none;
}
.calculator.dark .bilmemne .key i {
    color: #fff; 
}
